@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
*{
    font-family: 'Roboto', sans-serif;
}
body{
    @apply bg-[#141414];
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 4s steps(30, end) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}